head
  link(rel="stylesheet", href="/css/app.css", data-inline)

div.hero 
  img(src="https://reddex.s3.amazonaws.com/download.svg", alt="Reddex", class="hero-img")

.group
  h3.subtitle Email: 
  p #{email}

.group
  h3.subtitle Full name: 
  p #{senderName}

hr

p.body #{message}

hr

.group
  h3.subtitle Was this sent to someone else?
  p #{sentToOthers ? "Yes" : "No"}