head
  link(rel="stylesheet", href="/css/app.css", data-inline)

h3 Email
p #{email}

h3 Full name
p #{senderName}

h3 Story Body:
p #{message}

h3 Was this sent to someone else?
p #{sentToOthers}






 